.hero {
    background-image: url('../Images/hero-bg.jpg');
    background-size: cover;
    height: 96vh;
    width: 90vw;
    margin: 1rem 5% 2rem 5%;
    box-shadow: 0px 0px 15px var(--accent-clr2);
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    height: 100%;
    align-items: center;
    align-content: center;

}

.hero-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 90%;
    
}

.hero-container-left > div {
    margin: 1rem 5rem;
}

.hero-container-left h1{
    font-size: 3.5rem;
    color: var(--main-color);
    text-wrap: nowrap;
}

.hero-container-left h2{
    font-size: 1.5rem;
    margin: 0rem 0rem 1rem 0rem;
    color: var(--text-clr200);
}

.hero-container-left p{
    font-size: 1rem;
    color: var(--text-clr);
}

.hero-social-links img{
    height: 2.5rem;
    margin-right: 2rem;
}

.hero-container-left button {
    margin: 0rem 1rem 0rem 0rem;
}

.hero-container-left button:hover {
    box-shadow: 0 0 10px var(--accent-clr);
}

.hero-container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.hero-container-right img {
    height: 35em;
}

#contact-me-btn {
    background-color: var(--accent-clr);
    color: var(--color100);
}

#contact-me-btn:hover{
    box-shadow: 0 0 15px var(--color400);
}

#my-branch {
    color: var(--accent-clr2);
}