.nav-container {
    justify-content: space-between;
    padding: 3rem 7% 2rem;
    z-index: 10;
    position:fixed;
    top: 1rem;
    left: 7%;
    right: 7%;
    align-items: center;
}

.nav-left div{
    text-align: center;
}

.nav-left h2 {
    font-size: 2rem;
    color: var(--main-color);
}

.nav-left span {
    color: var(--text-clr200);
}

.nav-mid li {
    padding: 1rem 2rem;
}

.nav-mid a{
    color: var(--main-color);
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-right button {
    background-color: var(--accent-clr);
    color: var(--color100);
}

.nav-right img {
    height: 2.5rem;
    background: var(--color100);
    margin: 1rem;
    border-radius: 1.2rem;
}

.nav-right button:hover {
    background-color: var(--accent-clr2);
    color: var(--color200);
}

.scrolled {
    padding: 1rem 7%;
    border-radius: 3rem;
    background-color: var(--accent-clr);
}

.scrolled h2 {
    color: var(--color100);
}

.scrolled a{
    color: var(--color100);
}

.scrolled button {
    color: var(--main-color);
    background-color: var(--color100);
}

.scrolled span {
    color: var(--color300);
}


