.nav-container{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    padding-block: 20px;
    background-color: var(--secondary-white);
    box-shadow: var(--shadow-1);
    z-index: 100;
}

.nav-action-links {
    height: 600px;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* z-index: 100; */
    position: absolute;
    top: 0;
    right: -450px;
    background-color: inherit;
    transition: var(--transition-slow);
    margin-block: 60px;
}

.nav-action-links.active{
    transform: translateX(-450px);
    transition: var(--transition-slow);
}

.nav-links {
    margin-block:60px 20px;
    margin-inline: 20px;
}

.nav-links ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nav-links li{
    position: relative;
}

.nav-links ul > li:is(:hover, :focus-visible){
    transform:translateX(5px);
    transition: var(--transition-fast);
}

.nav-links ul>li:is(:hover, :focus-visible) .link-active-indicator {
    display: block;
    animation: fill-up 150ms ease-in;
    transition: var(--transition-fast);
}

@keyframes fill-up {
    0%{
        height: 0%;
        width: 0%;
    }
    100%{
        height: 100%;
        width: 2px;
    }
}

.nav-links a{
    color: var(--text-gunmetal);
    font-size: var(--fontSize-4);
    text-wrap: nowrap;
}

.nav-links .link-active-indicator {
    background: var(--accent-teal-dark);
    width: 3px;
    height: 23px;
    position: absolute;
    top: 0;
    left: -5px;
    display: none;
}


.nav-btn {
    margin-block: 60px;
    margin-inline: 20px;
}





.toggle-btn {
    cursor: pointer;
    height: 40px;
}

.toggle-btn img {
    display: none;
    height: 100%;
}

.toggle-btn img.active{
    display: block;
    animation: changingBtn 200ms;
}
@keyframes changingBtn {
    0%{
        height: 0%;
    }
    100%{
       height: 100%;
    }
}


.logo{
    font-size: var(--fontSize-6);
    text-shadow: var(--shadow-4);
}

.logo span{
    color: var(--accent-teal);
}