/* Tablet and below */
@media screen and (min-width: 1024px) {
    :root {
        --fontSize-1: 3.2rem;
        --fontSize-2: 2.75rem;
        --fontSize-3: 2rem;
        --fontSize-4: 1.5rem;
        --fontSize-5: 1.25rem;
        --fontSize-6: 1.1rem;
        --fontSize-7: 1rem;

        --weight-bold: 800;
        --weight-semiBold: 700;
        --weight-medium: 600;
    }

    .title {
        font-size: var(--fontSize-1);
        letter-spacing: -1px;
    }

    .btn-primary {
        padding: 20px 70px;
    }

    .btn-secondary {
        padding: 20px 70px;
    }

    .h1 {
        line-height: 55px;
    }


    .nav-container {
        justify-content: space-between;
    }

    .logo {
        margin-inline: 25px;
    }

    .logo h2 {
        font-size: var(--fontSize-3);
        font-weight: var(--weight-bold);
    }

    .nav-action-links {
        flex-direction: row;
        position: relative;
        top: 0;
        right: 0;
        height: unset;
        width: auto;
        margin-block: auto;
        margin-right: 25px;
    }

    .nav-links {
        margin: auto;
    }

    .nav-links ul {
        flex-direction: row;
        gap: 50px;
    }

    .toggle-btn {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .nav-links .link-active-indicator {
        width: 100%;
        height: 3px;
        top: 23px;
        left: 0px;
        display: none;
    }

    .nav-links a {
        font-size: var(--fontSize-5);
    }






    .hero-container {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        place-items: center;
        padding: 150px 50px;
    }

    .hero-desc .hero-text {
        gap: 30px;
    }

    .hero-desc .hero-text h2 {
        margin-block-start: -15px;
        font-size: var(--fontSize-4);
    }

    .hero-text p {
        font-weight: var(--weight-semiBold);
    }




    .skills-section .skills-section-container {
        padding-block: 50px;
    }

    .skills-container {
        grid-template-columns: repeat(8, 1fr);
        padding-block: 30px;
    }



    .project-card {
        grid-template-columns: 1fr 1fr;
        margin-inline: 15%;
        height: 500px;
        gap: 0;
    }

    .pro-img-container {
        height: 400px;
        box-shadow: var(--shadow-2);
        z-index: -1;
    }








    .contact-form-container {
        margin-inline: 15%;
        margin-block: 20px;
        padding-block: 100px;
    }

    .form-input-elements>div {
        width: 500px;
    }

    .form-input-elements #contact-form-submit-btn {
        padding: 20px 75px;
        font-size: 18px;
    }

    label {
        font-size: 16px;
        margin: 10px;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .hero {}

}