.skills-section .skills-section-container{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    background-color: var(--secondary-white);
    padding-block: 25px;
}

.skills-header-section{

}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    margin: auto;
}

.skills-section-container .title {
    text-align: center;
}

.skills-container .skill-card {
    background-color: var(--bg-light-gray);
    /* height: 60px; */
    width: 100px;
    border-radius: var(--radius-16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 10px;
}

.skill-card > div {
    height: 50px;
    margin-inline: auto;
    margin-block: 5px;
}

.skill-card img {
    height: 100%;
}

